:root {
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
}

/* layout & common */
body, body * { margin: 0; padding: 0; box-sizing: border-box; color: #333; list-style-type: none; text-decoration: none; }
header, main, footer > p { width: 90%; margin: 0 auto; min-width: 1280px; }
header { padding: 20px 0; display: flex; align-items: center; justify-content: space-between; }
.logo { font-family: "Oswald", sans-serif; }
.icon-email { display: block; width: 32px; }
.icon-email > img { display: block; width: 100%; }
.nav { display: flex; justify-content: center; align-items: center; gap: 100px; }
.nav > a { display: block; font-size: 20px; font-weight: 600; }
.nav > a:hover { color: #0af; }
footer { background: #333; padding: 16px 0; }
footer > p { color: #fff; text-align: center; font-size: 16px; }
.contents { width: 968px; margin: 0 auto; }
.img-area img { display: block; width: 100%; }
.tag { display: inline-block; padding: 8px 16px; font-size: 13px; letter-spacing: -1px; color: rgb(76, 73, 203); background: rgba(76, 73, 203, 0.15); border-radius: 4px; }
.title { display: block; margin-top: 16px; font-size: 42px; font-weight: bold; line-height: 1.2; letter-spacing: -1px; }
.text { color: #678; font-size: 16px; line-height: 1.7; margin-top: 40px; }
.metaphor { padding: 60px 0; text-align: center; }
.metaphor > h1 { font-size: 60px; font-weight: bold; }
.metaphor > p { margin-top: 20px; color: #678; font-size: 21px; line-height: 1.7; }
.main-info-box { padding: 60px 0; display: flex; align-items: center; gap: 32px; }
.main-info-box .img-area { width: 452px; border-radius: 8px; overflow: hidden; }
.text-area-foot { margin-top: 30px; display: flex; align-items: center; gap: 16px; }
.text-area-foot .img-area { width: 48px; height: 48px; border-radius: 50%; overflow: hidden; }
.foot-text > strong { display: block; font-size: 14px; }
.foot-text > span { display: block; font-size: 12px; color: #678; }
.board-list { padding: 30px 0 60px; display: flex; justify-content: space-between; gap: 32px; }
.board-list > li > .img-area { width: 100%; border-radius: 8px; overflow: hidden; margin-bottom: 20px; }
.board-list > li .title { font-size: 24px; }